img {
    width: 200px;
  }

body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8NGslMjBtb3VudGFpbnxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-size: 100% 200%;

  }